@font-face {
  font-family: "Sans";
  src: url("/fonts/PTSansRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sans-Bold";
  src: url("/fonts/PTSansBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Novecento-Utrabold";
  src: url("/fonts/NovecentoNarrowUltBold.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}

html::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: rgb(92 103 120);
  border-radius: 1rem;
}

html::-webkit-scrollbar-track {
  background: rgb(69 77 89);
}
