@font-face {
  font-family: "Sans";
  src: url("/fonts/PTSansRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sans-Bold";
  src: url("/fonts/PTSansBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Novecento-Utrabold";
  src: url("/fonts/NovecentoNarrowUltBold.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}
