---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "VRLabs";
const pageDescription = "VRLabs";
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <p>content</p>
  <p class="text-secondary">content</p>
  <div class="h-96"></div>
  <div class="h-96"></div>
  <div class="h-96"></div>
  <div class="h-96"></div>
</BaseLayout>
