---

---

<html lang="en" class="font-Sans">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>VRLabs</title>
  </head>
  <body> </body>

  <style>
    @font-face {
      font-family: "Sans";
      src: url("/public/fonts/PTSansRegular.ttf") format("woff");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: "Sans-Bold";
      src: url("/public/fonts/PTSansBold.ttf") format("woff");
      font-weight: bold;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: "Novecento-Utrabold";
      src: url("/public/fonts/NovecentoNarrowUltBold.otf") format("woff");
      font-weight: bolder;
      font-style: normal;
      font-display: swap;
    }
  </style>
</html>
