---
import BaseLayout from "../layouts/BaseLayout.astro";
import PackageDrawer from "../components/PackageDrawer.astro";
const pageTitle = "Packages";
const pageDescription = "Packages";
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <div id="categories"></div>
  <div id="packages"></div>
  <PackageDrawer />
</BaseLayout>

<script>
  import { fetchData, drawCategories, drawPackages } from "../scripts/packages";

  document.addEventListener("astro:page-load", async () => {
    if (window.location.pathname !== "/packages") return;

    await fetchData();
    drawCategories();
    drawPackages();
  });
</script>
