---
import BaseLayout from "../layouts/BaseLayout.astro";
import Spinner from "../components/common/Spinner.astro";
import PackageDrawer from "../components/packages/PackageDrawer.astro";
import MarkdownModal from "../components/packages/MarkdownModal.astro";
import CategoryTemplate from "../components/packages/CategoryTemplate.astro";
import GridTemplate from "../components/packages/GridTemplate.astro";
import CardTemplate from "../components/packages/CardTemplate.astro";

const pageTitle = "Packages";
const pageDescription = "Packages";
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <div class="packages-container flex flex-col gap-20 py-12"></div>
  <Spinner class="w-16" />
  <PackageDrawer />
  <MarkdownModal />
  <CategoryTemplate />
  <GridTemplate />
  <CardTemplate />
</BaseLayout>

<script src="../scripts/packages.js"></script>
