---
import BaseLayout from "../layouts/BaseLayout.astro";
import Spinner from "../components/common/Spinner.astro";
import PackageDrawer from "../components/packages/package-drawer/PackageDrawer.astro";
import MarkdownModal from "../components/packages/markdown-modal/MarkdownModal.astro";
import CategoryTemplate from "../components/packages/CategoryTemplate.astro";
import GridTemplate from "../components/packages/GridTemplate.astro";
import CardTemplate from "../components/packages/CardTemplate.astro";
import Button from "../components/common/Button.astro";
import icons from "../icons.json";

const pageTitle = "Packages";
const pageDescription = "A list of all VRLabs packages.";
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <div
    class="packages-filters items-center flex flex-wrap place-items-center gap-4 py-4 px-4 border-b-1 border-border my-4"
  >
    <svg
      class="h-6 fill-textSecondary stroke-textSecondary"
      viewBox="0 0 56 56"
      xmlns="http://www.w3.org/2000/svg"
      set:html={icons.filter}
    />
    <Button
      color="bright"
      type="filled"
      size="small"
      class="filter-active hidden !px-2 !border-1 !border-transparent"
    />
    <Button
      color="bright"
      type="outline"
      size="small"
      class="filter-inactive hidden !px-2"
    />
    <Button
      color="bright"
      type="outline"
      size="small"
      class="filter-name !px-2"
      ariaLabel="Sort packages by name"
    >
      Name
    </Button>
    <Button
      color="bright"
      type="outline"
      size="small"
      class="filter-downloads !px-2"
      ariaLabel="Sort packages by download count"
    >
      Downloads
    </Button>
    <Button
      color="bright"
      type="outline"
      size="small"
      class="filter-date !px-2"
      ariaLabel="Sort packages by last updated date"
    >
      Last Updated
    </Button>
  </div>
  <div class="packages-container flex flex-col gap-16 py-8"></div>
  <Spinner class="packages-spinner w-32" />
  <PackageDrawer />
  <MarkdownModal />
  <CategoryTemplate />
  <GridTemplate />
  <CardTemplate />
</BaseLayout>

<script src="../components/packages/packages.js"></script>
