---
import BaseLayout from "../layouts/BaseLayout.astro";
import PackageDrawer from "../components/PackageDrawer.astro";
const pageTitle = "Packages";
const pageDescription = "Packages";
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <div class="packages-spinner flex justify-center">
    <img class="w-16 h-16" src="/images/spinner.gif" alt="" loading="eager" />
  </div>
  <div class="packages-container flex flex-col gap-16 py-10"></div>

  <!--  -->

  <div
    class="packages-categoryTemplate hidden sm:justify-between transition-all duration-500 items-center mb-6 sm:grid-flow-col-dense justify-center place-items-center gap-1"
  >
    <h2
      class="packages-categoryTemplate-title font-Novecento-Utrabold text-mobileHeading2 sm:text-desktopHeading2"
    >
      Category Name
    </h2>
    <button
      class="packages-categoryTemplate-vccButton bg-elements rounded-lg px-4 py-2 font-Sans-Bold"
      aria-label="Add category to VCC">Add category to VCC</button
    >
  </div>

  <!--  -->

  <div
    class="packages-gridTemplate hidden grid-cols-packagesMobile sm:grid-cols-packages gap-8 justify-center grid-flow-dense"
  >
  </div>

  <!--  -->

  <div
    class="packages-cardTemplate hidden rounded-xl bg-elements border-borderColor border-1 shadow-packages hover:shadow-packagesHover hover:scale-1025 transition-all duration-300 overflow-clip flex-col relative cursor-default"
  >
    <img
      class="packages-cardTemplate-previewImage h-40 w-full object-cover animate-pulse bg-background"
      src="/images/empty.png"
      alt="Preview Image"
    />
    <div class="absolute flex right-0 top-0 m-2 gap-2">
      <button
        class="packages-cardTemplate-infoButton bg-elements rounded-full w-7 h-7 flex justify-center items-center group"
        aria-label="View package details"
      >
        <svg
          class="h-6 fill-textPrimary group-hover:fill-action transition-all duration-100"
          viewBox="0 0 80 80"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M68 40C68 55.464 55.464 68 40 68C24.536 68 12 55.464 12 40C12 24.536 24.536 12 40 12C55.464 12 68 24.536 68 40ZM40 26.5C36.4101 26.5 33.5 29.4102 33.5 33V33.5082C33.5 34.8889 32.3807 36.0082 31 36.0082C29.6193 36.0082 28.5 34.8889 28.5 33.5082V33C28.5 26.6487 33.6487 21.5 40 21.5H40.7729C46.6973 21.5 51.5 26.3027 51.5 32.2271C51.5 36.0117 49.5057 39.5162 46.252 41.4493L44.5128 42.4825C43.2649 43.224 42.5 44.5681 42.5 46.0197V46.4C42.5 47.7807 41.3807 48.9 40 48.9C38.6193 48.9 37.5 47.7807 37.5 46.4V46.0197C37.5 42.8041 39.1945 39.8264 41.959 38.1839L43.6981 37.1507C45.4353 36.1187 46.5 34.2476 46.5 32.2271C46.5 29.0641 43.9359 26.5 40.7729 26.5H40ZM42.5 53.5999C42.5 52.2192 41.3807 51.0999 40 51.0999C38.6193 51.0999 37.5 52.2192 37.5 53.5999V55.1999C37.5 56.5806 38.6193 57.6999 40 57.6999C41.3807 57.6999 42.5 56.5806 42.5 55.1999V53.5999Z"
          ></path>
        </svg>
      </button>
      <button
        class="packages-cardTemplate-githubButton bg-elements rounded-full w-7 h-7 flex justify-center items-center group"
        aria-label="View package on GitHub"
      >
        <svg
          class="h-6 fill-textPrimary group-hover:fill-action transition-all duration-100"
          viewBox="0 0 80 80"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M28.7444 60.1431C28.7444 60.416 28.429 60.6344 28.0315 60.6344C27.579 60.6754 27.2637 60.457 27.2637 60.1431C27.2637 59.8702 27.579 59.6518 27.9766 59.6518C28.3879 59.6109 28.7444 59.8292 28.7444 60.1431ZM24.4806 59.529C24.3847 59.8019 24.6589 60.1158 25.0702 60.1977C25.4266 60.3342 25.8379 60.1977 25.9202 59.9247C26.0024 59.6518 25.7419 59.3379 25.3306 59.2151C24.9742 59.1195 24.5766 59.256 24.4806 59.529ZM30.5403 59.297C30.1427 59.3925 29.8685 59.6518 29.9097 59.9657C29.9508 60.2386 30.3073 60.4161 30.7185 60.3205C31.1161 60.225 31.3903 59.9657 31.3492 59.6927C31.3081 59.4334 30.9379 59.256 30.5403 59.297ZM39.5613 7C20.546 7 6 21.3707 6 40.2997C6 55.4347 15.5694 68.3862 29.2379 72.9444C30.9927 73.2583 31.6097 72.1801 31.6097 71.2931C31.6097 70.4469 31.5685 65.7795 31.5685 62.9135C31.5685 62.9135 21.9718 64.9606 19.9565 58.8466C19.9565 58.8466 18.3935 54.8752 16.1452 53.8516C16.1452 53.8516 13.0056 51.709 16.3645 51.7499C16.3645 51.7499 19.7782 52.0229 21.6565 55.271C24.6589 60.5389 29.6903 59.024 31.6508 58.1233C31.9661 55.9397 32.8573 54.4248 33.8444 53.5241C26.1806 52.678 18.4484 51.5725 18.4484 38.4437C18.4484 34.6906 19.4903 32.8073 21.6839 30.4053C21.3274 29.5183 20.1621 25.8608 22.0403 21.1387C24.9056 20.2517 31.5 24.8235 31.5 24.8235C34.2419 24.0593 37.1895 23.6635 40.1097 23.6635C43.0298 23.6635 45.9774 24.0593 48.7194 24.8235C48.7194 24.8235 55.3137 20.238 58.179 21.1387C60.0573 25.8744 58.8919 29.5183 58.5355 30.4053C60.729 32.8209 62.0726 34.7043 62.0726 38.4437C62.0726 51.6135 53.9976 52.6643 46.3339 53.5241C47.5952 54.6022 48.6645 56.6494 48.6645 59.8565C48.6645 64.4557 48.6234 70.1467 48.6234 71.2658C48.6234 72.1528 49.254 73.231 50.9952 72.9171C64.7048 68.3862 74 55.4347 74 40.2997C74 21.3707 58.5766 7 39.5613 7ZM19.3258 54.07C19.1476 54.2065 19.1887 54.5204 19.4218 54.7797C19.6411 54.998 19.9565 55.0936 20.1347 54.9161C20.3129 54.7797 20.2718 54.4658 20.0387 54.2065C19.8194 53.9881 19.504 53.8926 19.3258 54.07ZM17.8452 52.9646C17.7492 53.142 17.8863 53.3603 18.1605 53.4968C18.3798 53.6333 18.654 53.5923 18.75 53.4013C18.846 53.2239 18.7089 53.0055 18.4347 52.869C18.1605 52.7871 17.9411 52.8281 17.8452 52.9646ZM22.2871 57.823C22.0677 58.0005 22.15 58.4099 22.4653 58.6692C22.7806 58.9831 23.1782 59.024 23.3565 58.8057C23.5347 58.6282 23.4524 58.2188 23.1782 57.9595C22.8766 57.6456 22.4653 57.6047 22.2871 57.823ZM20.7242 55.8169C20.5048 55.9533 20.5048 56.3082 20.7242 56.6221C20.9435 56.936 21.3137 57.0724 21.4919 56.936C21.7113 56.7585 21.7113 56.4037 21.4919 56.0898C21.3 55.7759 20.9435 55.6395 20.7242 55.8169Z"
          ></path>
        </svg>
      </button>
    </div>
    <div class="p-3">
      <p
        class="packages-cardTemplate-packageName text-mobileLarge sm:text-desktopLarge font-Novecento-Utrabold leading-6"
      >
        Package Name
      </p>
      <div class="text-small flex items-center">
        <svg
          class="rotate-180 h-5 fill-textSecondary stroke-textSecondary"
          viewBox="0 0 80 80"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M31.9999 43.9997H26.3322C23.7165 43.9997 22.4313 40.8153 24.3141 38.9997L36.2255 27.5138C38.2592 25.5527 41.4802 25.5527 43.5139 27.5138L55.4252 38.9997C57.3081 40.8153 56.0229 43.9997 53.4072 43.9997H47.9999L47.9999 53.9997V59.9997C47.9999 61.1043 47.1045 61.9997 45.9999 61.9997L33.9999 61.9997C32.8953 61.9997 31.9999 61.1043 31.9999 59.9997L31.9999 53.9997V43.9997Z"
          ></path>
          <path
            d="M31.9999 43.9997V41.9997C33.1045 41.9997 33.9999 42.8952 33.9999 43.9997H31.9999ZM24.3141 38.9997L25.7024 40.4394L25.7024 40.4394L24.3141 38.9997ZM36.2255 27.5138L37.6138 28.9535V28.9535L36.2255 27.5138ZM43.5139 27.5138L44.9022 26.0741L44.9022 26.0741L43.5139 27.5138ZM55.4252 38.9997L56.8135 37.56L55.4252 38.9997ZM47.9999 43.9997H45.9999C45.9999 42.8952 46.8953 41.9997 47.9999 41.9997V43.9997ZM47.9999 53.9997H45.9999H47.9999ZM45.9999 61.9997V63.9997H45.9999L45.9999 61.9997ZM33.9999 61.9997V59.9997V61.9997ZM31.9999 59.9997H29.9999H31.9999ZM31.9999 53.9997H33.9999H31.9999ZM26.3322 41.9997H31.9999V45.9997H26.3322V41.9997ZM25.7024 40.4394C25.1148 41.006 25.5159 41.9997 26.3322 41.9997V45.9997C21.9171 45.9997 19.7477 40.6247 22.9259 37.56L25.7024 40.4394ZM37.6138 28.9535L25.7024 40.4394L22.9259 37.56L34.8372 26.0741L37.6138 28.9535ZM42.1256 28.9535C40.8667 27.7395 38.8727 27.7395 37.6138 28.9535L34.8372 26.0741C37.6457 23.3659 42.0937 23.3659 44.9022 26.0741L42.1256 28.9535ZM54.037 40.4394L42.1256 28.9535L44.9022 26.0741L56.8135 37.56L54.037 40.4394ZM53.4072 41.9997C54.2235 41.9997 54.6245 41.006 54.037 40.4394L56.8135 37.56C59.9916 40.6247 57.8223 45.9997 53.4072 45.9997V41.9997ZM47.9999 41.9997H53.4072V45.9997H47.9999V41.9997ZM45.9999 53.9997L45.9999 43.9997H49.9999L49.9999 53.9997H45.9999ZM45.9999 59.9997V53.9997H49.9999V59.9997H45.9999ZM45.9999 59.9997H49.9999C49.9999 62.2089 48.209 63.9997 45.9999 63.9997V59.9997ZM33.9999 59.9997L45.9999 59.9997L45.9999 63.9997L33.9999 63.9997V59.9997ZM33.9999 59.9997V63.9997C31.7908 63.9997 29.9999 62.2089 29.9999 59.9997H33.9999ZM33.9999 53.9997L33.9999 59.9997H29.9999L29.9999 53.9997H33.9999ZM33.9999 43.9997V53.9997H29.9999V43.9997H33.9999Z"
          ></path>
          <path d="M56 16H24" stroke-width="6" stroke-linecap="round"></path>
        </svg>
        <p class="packages-cardTemplate-downloadCount text-textSecondary">
          ---
        </p>
      </div>
      <p class="packages-cardTemplate-packageDescription text-small mt-3 mb-4">
        Package Description
      </p>
      <div class="flex gap-1">
        <button
          class="packages-cardTemplate-vccButton bg-background rounded-lg px-6 py-2 w-full font-Sans-Bold"
          aria-label="Add package to VCC">Add to VCC</button
        >
        <button
          class="packages-cardTemplate-downloadButton bg-background rounded-lg"
          aria-label="Download package"
        >
          <svg
            class="rotate-180 h-5 w-10 fill-textPrimary stroke-textPrimary"
            viewBox="0 0 80 80"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M31.9999 43.9997H26.3322C23.7165 43.9997 22.4313 40.8153 24.3141 38.9997L36.2255 27.5138C38.2592 25.5527 41.4802 25.5527 43.5139 27.5138L55.4252 38.9997C57.3081 40.8153 56.0229 43.9997 53.4072 43.9997H47.9999L47.9999 53.9997V59.9997C47.9999 61.1043 47.1045 61.9997 45.9999 61.9997L33.9999 61.9997C32.8953 61.9997 31.9999 61.1043 31.9999 59.9997L31.9999 53.9997V43.9997Z"
            ></path>
            <path
              d="M31.9999 43.9997V41.9997C33.1045 41.9997 33.9999 42.8952 33.9999 43.9997H31.9999ZM24.3141 38.9997L25.7024 40.4394L25.7024 40.4394L24.3141 38.9997ZM36.2255 27.5138L37.6138 28.9535V28.9535L36.2255 27.5138ZM43.5139 27.5138L44.9022 26.0741L44.9022 26.0741L43.5139 27.5138ZM55.4252 38.9997L56.8135 37.56L55.4252 38.9997ZM47.9999 43.9997H45.9999C45.9999 42.8952 46.8953 41.9997 47.9999 41.9997V43.9997ZM47.9999 53.9997H45.9999H47.9999ZM45.9999 61.9997V63.9997H45.9999L45.9999 61.9997ZM33.9999 61.9997V59.9997V61.9997ZM31.9999 59.9997H29.9999H31.9999ZM31.9999 53.9997H33.9999H31.9999ZM26.3322 41.9997H31.9999V45.9997H26.3322V41.9997ZM25.7024 40.4394C25.1148 41.006 25.5159 41.9997 26.3322 41.9997V45.9997C21.9171 45.9997 19.7477 40.6247 22.9259 37.56L25.7024 40.4394ZM37.6138 28.9535L25.7024 40.4394L22.9259 37.56L34.8372 26.0741L37.6138 28.9535ZM42.1256 28.9535C40.8667 27.7395 38.8727 27.7395 37.6138 28.9535L34.8372 26.0741C37.6457 23.3659 42.0937 23.3659 44.9022 26.0741L42.1256 28.9535ZM54.037 40.4394L42.1256 28.9535L44.9022 26.0741L56.8135 37.56L54.037 40.4394ZM53.4072 41.9997C54.2235 41.9997 54.6245 41.006 54.037 40.4394L56.8135 37.56C59.9916 40.6247 57.8223 45.9997 53.4072 45.9997V41.9997ZM47.9999 41.9997H53.4072V45.9997H47.9999V41.9997ZM45.9999 53.9997L45.9999 43.9997H49.9999L49.9999 53.9997H45.9999ZM45.9999 59.9997V53.9997H49.9999V59.9997H45.9999ZM45.9999 59.9997H49.9999C49.9999 62.2089 48.209 63.9997 45.9999 63.9997V59.9997ZM33.9999 59.9997L45.9999 59.9997L45.9999 63.9997L33.9999 63.9997V59.9997ZM33.9999 59.9997V63.9997C31.7908 63.9997 29.9999 62.2089 29.9999 59.9997H33.9999ZM33.9999 53.9997L33.9999 59.9997H29.9999L29.9999 53.9997H33.9999ZM33.9999 43.9997V53.9997H29.9999V43.9997H33.9999Z"
            ></path>
            <path d="M56 16H24" stroke-width="6" stroke-linecap="round"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <PackageDrawer />
</BaseLayout>

<script src="../scripts/packages.js"></script>

<style>
  .animate-skeleton {
    animation: shine 1.5s ease-in-out infinite;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 0.05) 20%,
      rgba(0, 0, 0, 0) 40%
    );
    background-size: 1000px 100%;
  }

  @keyframes shine {
    0% {
      background-position: -500px;
    }
    100% {
      background-position: 500px;
    }
  }
</style>
