---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Packages";
const pageDescription = "Packages";
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <h1 class="text-mobileHeading sm:text-desktopHeading font-Novecento-Utrabold">
    {pageTitle}
  </h1>
</BaseLayout>
