---
import icons from "../../icons.json";
import NavItems from "./NavItems.astro";
import Socials from "./NavSocials.astro";
import Button from "../common/Button.astro";
---

<header
  class="nav-main bg-elements/100 top-0 backdrop-blur-md z-30 border-b-1 border-borderColorBright flex py-4 font-Sans-Bold text-mobileLarge flex-col sticky"
  transition:persist
  transition:animate="none"
>
  <div class="grid grid-cols-3 h-full max-w-6xl px-4 md:px-10 mx-auto w-full">
    <div class="flex items-center">
      <a class="hidden md:flex items-center fill-textPrimary" href="/">
        <svg
          class="h-10"
          viewBox="0 0 8192 8192"
          xmlns="http://www.w3.org/2000/svg"
          set:html={icons.logo}
        />
      </a>
      <Button
        color="transparent"
        type="filled"
        size="small"
        icon="menu"
        iconFill
        class="nav-buttonOpen block md:hidden !p-0"
      />
    </div>
    <div class="flex items-center justify-center">
      <nav class="gap-10 hidden md:flex">
        <NavItems />
      </nav>
      <a class="block md:hidden" href="/">
        <svg
          class="h-10 fill-textPrimary"
          viewBox="0 0 8192 8192"
          xmlns="http://www.w3.org/2000/svg"
          set:html={icons.logo}
        />
      </a>
    </div>
    <div class="flex items-center justify-end">
      <ul class="gap-4 hidden md:flex">
        <Socials />
      </ul>
      <div class="block md:hidden">
        <a href="https://github.com/VRLabs" target="_blank" aria-label="Github">
          <svg
            class="h-6 fill-textSecondary"
            viewBox="0 0 80 80"
            xmlns="http://www.w3.org/2000/svg"
            set:html={icons.github}
          />
        </a>
      </div>
    </div>
  </div>
</header>
<aside
  class="nav-mobile fixed top-0 left-0 bottom-0 right-0 hidden z-50 max-w-64"
  transition:animate="none"
>
  <div class="bg-elements w-full h-full p-4 overflow-y-auto">
    <div class="flex justify-between items-center h-10">
      <Button
        color="transparent"
        type="filled"
        size="small"
        icon="close"
        iconStroke
        class="nav-buttonClose !p-0"
      />
    </div>
    <nav
      class="border-y-1 border-borderColor my-4 py-6 px-2 flex flex-col gap-6 font-Sans-Bold text-mobileLarge"
    >
      <NavItems />
    </nav>
    <div class="flex gap-4 h-10 items-center justify-between px-2">
      <Socials />
    </div>
  </div>
</aside>

<script src="./navbar.js"></script>
