---
const links = [
  {
    name: "About",
    url: "/",
  },
  {
    name: "Packages",
    url: "/packages",
  },
];
---

{
  links.map((link) => (
    <a
      href={link.url}
      aria-label={link.name}
      class="nav-item group"
      data-astro-prefetch
    >
      <span
        class="relative py-3 group-hover:text-action transition-all duration-100
      md:after:bg-action after:bottom-1.5 after:h-0.5 after:left-0 after:absolute after:rounded-xl after:transition-all after:transform after:origin-center group-hover:after:scale-x-100"
      >
        {link.name}
      </span>
    </a>
  ))
}
