---
import NavItems from "./NavItems.astro";
import Socials from "./Socials.astro";
---

<header
  class="nav-main bg-elements/100 top-0 backdrop-blur-md z-30 border-b-1 border-borderColorBright flex py-4 font-Sans-Bold text-mobileLarge flex-col sticky"
>
  <div class="grid grid-cols-3 h-full max-w-6xl px-4 md:px-10">
    <div class="flex items-center">
      <a class="hidden md:flex items-center fill-textPrimary" href="/">
        <svg
          class="h-10"
          viewBox="0 0 8192 8192"
          xmlns="http://www.w3.org/2000/svg"
          style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
        >
          <path
            d="M5816.18,4812.7L2375.82,4812.7C2375.82,4812.7 954.212,7128.26 891.027,7255.7C827.843,7383.14 816.901,7433.13 808.539,7505.29C797.294,7602.33 812.75,7642.67 817.592,7682.56C841.276,7877.64 904.782,7983.62 1038.07,8176.11C1044.18,8184.93 1050.97,8191.94 1050.97,8191.94C1050.97,8191.94 483.638,8212.53 170.763,7486.96C-34.354,7011.28 131.044,6587.53 326.686,6205.35C901.428,5082.62 2901.93,1122.26 3211.77,552.232C3504.72,13.268 4038.67,-0.139 4096,0.001C4153.33,-0.139 4687.28,13.268 4980.23,552.232C5290.07,1122.26 7290.57,5082.62 7865.31,6205.35C8060.96,6587.53 8226.35,7011.28 8021.24,7486.96C7708.36,8212.53 7141.03,8191.94 7141.03,8191.94C7141.03,8191.94 7147.82,8184.93 7153.93,8176.11C7287.22,7983.62 7350.72,7877.64 7374.41,7682.56C7379.25,7642.67 7394.71,7602.33 7383.46,7505.29C7375.1,7433.13 7364.16,7383.14 7300.97,7255.7C7237.79,7128.26 5816.18,4812.7 5816.18,4812.7ZM4101.03,4135.68C4162.65,4135.79 4746.1,4136.79 5185.07,4135.67C5352.81,4135.24 5323.93,4038.84 5272.62,3991.47C5235.22,3956.94 5221.68,3942.67 5215.94,3913.28C5173.55,3696.29 5178.14,3631.26 5163.38,3437.01C5148.62,3242.76 5167.77,2664.41 5173.69,2585.01C5177.13,2538.8 5177.53,2481.46 5185.07,2442.53C5191.72,2408.18 5206.57,2403.25 5225.22,2402.22C5432.51,2390.76 5441.58,2275.16 5450.91,2129.67C5456.62,2040.63 5451.59,1959.84 5450.91,1926.97C5447.48,1760.83 4891.02,1749.52 4528.08,1749.26C4247.09,1749.06 4119.18,1749.22 4098.68,1749.25C4046.43,1749.22 3737.22,1749.06 3455.98,1749.26C3093.04,1749.52 2754.58,1760.83 2751.15,1926.97C2750.47,1959.84 2745.44,2040.63 2751.15,2129.67C2760.48,2275.16 2769.55,2390.76 2976.85,2402.22C2995.49,2403.25 3010.34,2408.18 3016.99,2442.53C3024.53,2481.46 3024.93,2538.8 3028.37,2585.01C3034.29,2664.41 3053.44,3242.76 3038.68,3437.01C3023.92,3631.26 3028.51,3696.29 2986.12,3913.28C2980.38,3942.67 2966.84,3956.94 2929.44,3991.47C2878.13,4038.84 2849.25,4135.24 3016.99,4135.67C3455.96,4136.79 4039.41,4135.79 4101.03,4135.68ZM3560.56,1217.37C3658.27,1217.37 3737.61,1297.71 3737.61,1396.67C3737.61,1495.63 3658.27,1575.98 3560.56,1575.98C3462.84,1575.98 3383.51,1495.63 3383.51,1396.67C3383.51,1297.71 3462.84,1217.37 3560.56,1217.37ZM4323.96,341.179C4547.74,341.179 4729.43,525.175 4729.43,751.806C4729.43,978.438 4547.74,1162.43 4323.96,1162.43C4100.18,1162.43 3918.5,978.438 3918.5,751.806C3918.5,525.175 4100.18,341.179 4323.96,341.179Z"
          ></path>
        </svg>
      </a>
      <button class="nav-buttonOpen block md:hidden" aria-label="Menu">
        <svg
          class="h-8 fill-textPrimary hover:fill-action transition-all duration-100"
          viewBox="0 0 80 80"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16 22L64 22"
            stroke="currentColor"
            stroke-width="6"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M16 40L64 40"
            stroke="currentColor"
            stroke-width="6"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M16 58L64 58"
            stroke="currentColor"
            stroke-width="6"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </button>
    </div>
    <div class="flex items-center justify-center">
      <nav class="gap-10 hidden md:flex">
        <NavItems />
      </nav>
      <a class="block md:hidden" href="/">
        <svg
          class="h-10 fill-textPrimary"
          viewBox="0 0 8192 8192"
          xmlns="http://www.w3.org/2000/svg"
          style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
        >
          <path
            d="M5816.18,4812.7L2375.82,4812.7C2375.82,4812.7 954.212,7128.26 891.027,7255.7C827.843,7383.14 816.901,7433.13 808.539,7505.29C797.294,7602.33 812.75,7642.67 817.592,7682.56C841.276,7877.64 904.782,7983.62 1038.07,8176.11C1044.18,8184.93 1050.97,8191.94 1050.97,8191.94C1050.97,8191.94 483.638,8212.53 170.763,7486.96C-34.354,7011.28 131.044,6587.53 326.686,6205.35C901.428,5082.62 2901.93,1122.26 3211.77,552.232C3504.72,13.268 4038.67,-0.139 4096,0.001C4153.33,-0.139 4687.28,13.268 4980.23,552.232C5290.07,1122.26 7290.57,5082.62 7865.31,6205.35C8060.96,6587.53 8226.35,7011.28 8021.24,7486.96C7708.36,8212.53 7141.03,8191.94 7141.03,8191.94C7141.03,8191.94 7147.82,8184.93 7153.93,8176.11C7287.22,7983.62 7350.72,7877.64 7374.41,7682.56C7379.25,7642.67 7394.71,7602.33 7383.46,7505.29C7375.1,7433.13 7364.16,7383.14 7300.97,7255.7C7237.79,7128.26 5816.18,4812.7 5816.18,4812.7ZM4101.03,4135.68C4162.65,4135.79 4746.1,4136.79 5185.07,4135.67C5352.81,4135.24 5323.93,4038.84 5272.62,3991.47C5235.22,3956.94 5221.68,3942.67 5215.94,3913.28C5173.55,3696.29 5178.14,3631.26 5163.38,3437.01C5148.62,3242.76 5167.77,2664.41 5173.69,2585.01C5177.13,2538.8 5177.53,2481.46 5185.07,2442.53C5191.72,2408.18 5206.57,2403.25 5225.22,2402.22C5432.51,2390.76 5441.58,2275.16 5450.91,2129.67C5456.62,2040.63 5451.59,1959.84 5450.91,1926.97C5447.48,1760.83 4891.02,1749.52 4528.08,1749.26C4247.09,1749.06 4119.18,1749.22 4098.68,1749.25C4046.43,1749.22 3737.22,1749.06 3455.98,1749.26C3093.04,1749.52 2754.58,1760.83 2751.15,1926.97C2750.47,1959.84 2745.44,2040.63 2751.15,2129.67C2760.48,2275.16 2769.55,2390.76 2976.85,2402.22C2995.49,2403.25 3010.34,2408.18 3016.99,2442.53C3024.53,2481.46 3024.93,2538.8 3028.37,2585.01C3034.29,2664.41 3053.44,3242.76 3038.68,3437.01C3023.92,3631.26 3028.51,3696.29 2986.12,3913.28C2980.38,3942.67 2966.84,3956.94 2929.44,3991.47C2878.13,4038.84 2849.25,4135.24 3016.99,4135.67C3455.96,4136.79 4039.41,4135.79 4101.03,4135.68ZM3560.56,1217.37C3658.27,1217.37 3737.61,1297.71 3737.61,1396.67C3737.61,1495.63 3658.27,1575.98 3560.56,1575.98C3462.84,1575.98 3383.51,1495.63 3383.51,1396.67C3383.51,1297.71 3462.84,1217.37 3560.56,1217.37ZM4323.96,341.179C4547.74,341.179 4729.43,525.175 4729.43,751.806C4729.43,978.438 4547.74,1162.43 4323.96,1162.43C4100.18,1162.43 3918.5,978.438 3918.5,751.806C3918.5,525.175 4100.18,341.179 4323.96,341.179Z"
          ></path>
        </svg>
      </a>
    </div>
    <div class="flex items-center justify-end">
      <ul class="gap-4 hidden md:flex">
        <Socials />
      </ul>
      <div class="block md:hidden">
        <a href="https://github.com/VRLabs" target="_blank" aria-label="Github">
          <svg
            class="h-6 fill-textSecondary"
            viewBox="0 0 80 80"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M28.7444 60.1431C28.7444 60.416 28.429 60.6344 28.0315 60.6344C27.579 60.6754 27.2637 60.457 27.2637 60.1431C27.2637 59.8702 27.579 59.6518 27.9766 59.6518C28.3879 59.6109 28.7444 59.8292 28.7444 60.1431ZM24.4806 59.529C24.3847 59.8019 24.6589 60.1158 25.0702 60.1977C25.4266 60.3342 25.8379 60.1977 25.9202 59.9247C26.0024 59.6518 25.7419 59.3379 25.3306 59.2151C24.9742 59.1195 24.5766 59.256 24.4806 59.529ZM30.5403 59.297C30.1427 59.3925 29.8685 59.6518 29.9097 59.9657C29.9508 60.2386 30.3073 60.4161 30.7185 60.3205C31.1161 60.225 31.3903 59.9657 31.3492 59.6927C31.3081 59.4334 30.9379 59.256 30.5403 59.297ZM39.5613 7C20.546 7 6 21.3707 6 40.2997C6 55.4347 15.5694 68.3862 29.2379 72.9444C30.9927 73.2583 31.6097 72.1801 31.6097 71.2931C31.6097 70.4469 31.5685 65.7795 31.5685 62.9135C31.5685 62.9135 21.9718 64.9606 19.9565 58.8466C19.9565 58.8466 18.3935 54.8752 16.1452 53.8516C16.1452 53.8516 13.0056 51.709 16.3645 51.7499C16.3645 51.7499 19.7782 52.0229 21.6565 55.271C24.6589 60.5389 29.6903 59.024 31.6508 58.1233C31.9661 55.9397 32.8573 54.4248 33.8444 53.5241C26.1806 52.678 18.4484 51.5725 18.4484 38.4437C18.4484 34.6906 19.4903 32.8073 21.6839 30.4053C21.3274 29.5183 20.1621 25.8608 22.0403 21.1387C24.9056 20.2517 31.5 24.8235 31.5 24.8235C34.2419 24.0593 37.1895 23.6635 40.1097 23.6635C43.0298 23.6635 45.9774 24.0593 48.7194 24.8235C48.7194 24.8235 55.3137 20.238 58.179 21.1387C60.0573 25.8744 58.8919 29.5183 58.5355 30.4053C60.729 32.8209 62.0726 34.7043 62.0726 38.4437C62.0726 51.6135 53.9976 52.6643 46.3339 53.5241C47.5952 54.6022 48.6645 56.6494 48.6645 59.8565C48.6645 64.4557 48.6234 70.1467 48.6234 71.2658C48.6234 72.1528 49.254 73.231 50.9952 72.9171C64.7048 68.3862 74 55.4347 74 40.2997C74 21.3707 58.5766 7 39.5613 7ZM19.3258 54.07C19.1476 54.2065 19.1887 54.5204 19.4218 54.7797C19.6411 54.998 19.9565 55.0936 20.1347 54.9161C20.3129 54.7797 20.2718 54.4658 20.0387 54.2065C19.8194 53.9881 19.504 53.8926 19.3258 54.07ZM17.8452 52.9646C17.7492 53.142 17.8863 53.3603 18.1605 53.4968C18.3798 53.6333 18.654 53.5923 18.75 53.4013C18.846 53.2239 18.7089 53.0055 18.4347 52.869C18.1605 52.7871 17.9411 52.8281 17.8452 52.9646ZM22.2871 57.823C22.0677 58.0005 22.15 58.4099 22.4653 58.6692C22.7806 58.9831 23.1782 59.024 23.3565 58.8057C23.5347 58.6282 23.4524 58.2188 23.1782 57.9595C22.8766 57.6456 22.4653 57.6047 22.2871 57.823ZM20.7242 55.8169C20.5048 55.9533 20.5048 56.3082 20.7242 56.6221C20.9435 56.936 21.3137 57.0724 21.4919 56.936C21.7113 56.7585 21.7113 56.4037 21.4919 56.0898C21.3 55.7759 20.9435 55.6395 20.7242 55.8169Z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>
<aside
  class="nav-mobile fixed top-0 left-0 bottom-0 right-0 hidden z-50 max-w-64"
>
  <div class="bg-elements w-full h-full p-4 overflow-y-auto">
    <div class="flex justify-between items-center h-10">
      <button class="nav-buttonClose" aria-label="Menu">
        <svg
          class="h-8 fill-textPrimary stroke-textPrimary"
          viewBox="0 0 80 80"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M24.4437 24.5566L38.5858 38.6988L41.4142 41.5272L55.5564 55.6693"
            stroke-width="6"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M55.5563 24.5566L41.4142 38.6988L38.5858 41.5272L24.4436 55.6693"
            stroke-width="6"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </button>
    </div>
    <nav
      class="border-y-1 border-borderColor my-4 py-6 px-2 flex flex-col gap-6 font-Sans-Bold text-mobileLarge"
    >
      <NavItems />
    </nav>
    <div class="flex gap-4 h-10 items-center justify-between px-2">
      <Socials />
    </div>
  </div>
</aside>

<script src="../scripts/navbar.js"></script>
