---
import NavItems from "./NavItems.astro";

// Apply focus:ring to everything
// use divide for nav elements
---

<nav
  class="bg-elements/100 top-0 backdrop-blur-md z-50 border-b-1 border-borderColor flex py-4 font-Sans-Bold text-mobileLarge sm:text-desktopLarge flex-col sticky"
>
  <div
    class="flex items-center justify-between max-w-6xl px-5 sm:px-10 mx-auto w-full"
  >
    <div>
      <a href="/">
        <img class="h-12" src="/favicon.svg" alt="logo" />
      </a>
    </div>
    <ul class="gap-10 items-center hidden sm:flex">
      <NavItems />
    </ul>
    <div class="flex sm:hidden">
      <button>
        <svg
          class="h-10 fill-textPrimary hover:fill-action transition-all duration-100"
          viewBox="0 0 80 80"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16 22L64 22"
            stroke="currentColor"
            stroke-width="6"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M16 40L64 40"
            stroke="currentColor"
            stroke-width="6"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M16 58L64 58"
            stroke="currentColor"
            stroke-width="6"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </button>
    </div>
  </div>
  <ul
    id="mobile-menu"
    class="items-center flex-col gap-8 py-4 border-y-1 border-borderColor fade-out hidden sm:hidden absolute w-full bg-elements/100 top-[5rem]"
  >
    <NavItems />
  </ul>
</nav>

<script>
  document.addEventListener("astro:page-load", () => {
    let mobileMenu = document.getElementById("mobile-menu");

    document.querySelector("button").addEventListener("click", () => {
      mobileMenu.classList.toggle("flex");
      mobileMenu.classList.toggle("hidden");
    });
  });
</script>
