---

---

<div
  id="drawer"
  class="left-0 right-0 bottom-0 w-full fixed h-12 transition-all duration-200 flex justify-center"
  style="height: 3rem;"
>
  <div
    id="drawerContainer"
    class="w-11/12 max-w-xl bg-slate-600 rounded-t-xl h-full flex items-center flex-col"
  >
    <div
      id="drawerToggle"
      class="bg-slate-700 rounded-t-xl cursor-pointer w-full flex justify-center py-3 font-Sans-Bold text-mobileLarge sm:text-desktopLarge hover:text-action transition-all duration-100"
    >
      <p>Add to VCC</p>
    </div>
    <div id="drawerPackages" class="p-4 w-full container">
      <p>1</p>
      <p>1</p>
      <p>1</p>
      <p>1</p>
      <p>1</p>
      <p>1</p>
      <p>1</p>
      <p>1</p>
      <p>1</p>
      <p>1</p>
      <p>1</p>
      <p>1</p>
      <p>1</p>
      <p>1</p>
      <p>1</p>
      <p>1</p>
      <p>1</p>
      <p>1</p>
      <p>1</p>
      <p>1</p>
      <p>1</p>
      <p>1</p>
      <p>1</p>
      <p>1</p>
    </div>
  </div>
</div>

<style>
  .container::-webkit-scrollbar {
    display: none;
  }

  .container {
    scrollbar-width: none;
  }
</style>

<script>
  let drawer;
  let drawerContainer;
  let drawerToggle;
  let drawerPackages;
  let maxHeight;

  document.addEventListener("astro:page-load", () => {
    if (window.location.pathname !== "/packages") return;

    drawer = document.getElementById("drawer");
    drawerContainer = document.getElementById("drawerContainer");
    drawerToggle = document.getElementById("drawerToggle");
    drawerPackages = document.getElementById("drawerPackages");

    drawerContainer.addEventListener("click", function (event) {
      event.stopPropagation();
    });

    drawerToggle.addEventListener("click", function (event) {
      event.stopPropagation();
      drawer.style.height === "3rem" ? openDrawer() : closeDrawer();
    });

    document.addEventListener("click", function () {
      closeDrawer();
    });
  });

  function openDrawer() {
    getMaxHeight();
    drawer.style.height = maxHeight;
    drawerPackages.style.overflowY = "auto";
  }

  function closeDrawer() {
    drawer.style.height = "3rem";
    drawerPackages.style.overflowY = "visible";
  }

  function getMaxHeight() {
    var top = document.getElementById("drawerToggle");
    var bottom = document.getElementById("drawerPackages");
    maxHeight =
      bottom.offsetHeight + top.offsetHeight > window.innerHeight / 1.5
        ? Math.floor(window.innerHeight / 1.5) + "px"
        : Math.floor(bottom.offsetHeight + top.offsetHeight) + "px";
  }
</script>
