---

---

<div
  class="drawer left-0 right-0 bottom-0 w-full fixed transition-all duration-300 flex justify-center z-10 h-0 mb-4"
>
  <div class="drawer-container w-11/12 max-w-xl hidden flex-col gap-4">
    <div
      class="drawer-main bg-elements rounded-xl w-full h-full flex flex-col items-center px-2 pb-2 overflow-hidden border-1 border-borderColor"
    >
      <div
        class="drawer-toggle rounded-t-xl cursor-pointer w-full flex justify-center items-center gap-3 py-4 text-mobileLarge sm:text-desktopLarge font-Novecento-Utrabold hover:text-action transition-all duration-100"
      >
        <p>Add to VCC</p>
        <div
          class="drawer-count rounded-full bg-action text-textPrimary w-10 text-center"
        >
          0
        </div>
      </div>
      <div class="drawer-packages w-full bg-background/50 rounded-lg">
        <div class="drawer-emptyMessage hidden">
          <div class="flex justify-center p-5 text-textSecondary text-small">
            You have no packages selected
          </div>
        </div>
        <ul class="drawer-packagesList p-5"></ul>
      </div>
    </div>
    <div class="drawer-buttons flex gap-1 px-2 py-4">
    <div
      class="drawer-buttons w-full flex justify-center items-center gap-5 py-4 rounded-xl mt-auto bg-elements mb-auto"
    >
      <button class="drawer-addToVCCButton">Add To VCC</button>
      <button>Copy Link</button>
      <button
        class="drawer-copyButton bg-background/0 rounded-lg border-1 border-borderColor hover:brightness-125 transition-all duration-200"
        aria-label="Download package"
      >
        <svg
          viewBox="0 0 80 80"
          class="h-5 w-10 fill-textSecondary stroke-textSecondary"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M38 5.44782C36.6193 5.44782 35.5 6.56711 35.5 7.94782C35.5 8.30338 35.5742 8.64159 35.708 8.94782H34C31.7909 8.94782 30 10.7387 30 12.9478H22C19.7909 12.9478 18 14.7387 18 16.9478V64.9478C18 67.157 19.7909 68.9478 22 68.9478H58C60.2091 68.9478 62 67.157 62 64.9478V16.9478C62 14.7387 60.2091 12.9478 58 12.9478H50C50 10.7387 48.2091 8.94782 46 8.94782H44.292C44.4258 8.64159 44.5 8.30338 44.5 7.94782C44.5 6.56711 43.3807 5.44782 42 5.44782H38ZM28 22.4478C26.6193 22.4478 25.5 23.5671 25.5 24.9478C25.5 26.3285 26.6193 27.4478 28 27.4478H52C53.3807 27.4478 54.5 26.3285 54.5 24.9478C54.5 23.5671 53.3807 22.4478 52 22.4478H28ZM25.5 40.9478C25.5 39.5671 26.6193 38.4478 28 38.4478H52C53.3807 38.4478 54.5 39.5671 54.5 40.9478C54.5 42.3285 53.3807 43.4478 52 43.4478H28C26.6193 43.4478 25.5 42.3285 25.5 40.9478ZM28 54.4478C26.6193 54.4478 25.5 55.5671 25.5 56.9478C25.5 58.3285 26.6193 59.4478 28 59.4478H52C53.3807 59.4478 54.5 58.3285 54.5 56.9478C54.5 55.5671 53.3807 54.4478 52 54.4478H28ZM25.5 32.9478C25.5 31.5671 26.6193 30.4478 28 30.4478H44C45.3807 30.4478 46.5 31.5671 46.5 32.9478C46.5 34.3285 45.3807 35.4478 44 35.4478H28C26.6193 35.4478 25.5 34.3285 25.5 32.9478ZM28 46.4478C26.6193 46.4478 25.5 47.5671 25.5 48.9478C25.5 50.3285 26.6193 51.4478 28 51.4478H44C45.3807 51.4478 46.5 50.3285 46.5 48.9478C46.5 47.5671 45.3807 46.4478 44 46.4478H28Z"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</div>

<style>
  .drawer-packages::-webkit-scrollbar {
    display: none;
  }

  .drawer-packages {
    scrollbar-width: none;
  }
</style>

<script src="../scripts/packagesDrawer"></script>
