---
const { class: width } = Astro.props;
---

<div class="flex justify-center">
  <img
    class:list={[width, "-scale-x-100"]}
    src="/images/walking.webp"
    alt=""
    loading="eager"
  />
</div>
